@page "/leaderboard"
@attribute [StreamRendering]

<PageTitle>Leaderboard</PageTitle>

<h1>Leaderboard</h1>


@if (teamStats == null)
{
    <p><em>Loading...</em></p>
}
else
{
      <table class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Games Played</th>
                <th>Games Won</th>
                <th>Games Lost</th>
                <th>Average</th>
            </tr>
        </thead>
    @foreach(var tDetails in teamDetails)
    {

        <tbody>
                <tr>
                <td>@tDetails.TeamName</td>
                <td>@teamStats.TotalGamesPlayed</td>
                <td>@teamStats.TotalGamesWon</td>
                <td>@teamStats.TotalGamesLost</td>
                <td>@teamStats.TotalAverage</td>
                </tr>
            
        </tbody>
    }
    </table>
}

@code {
    private APIService aPIService = new();
    private TeamStats teamStats = new();
    private PlayerHelpers playerHelper = new();
    private List<TeamDetails> teamDetails = [];


    protected override async Task OnInitializedAsync()
    {
        teamDetails = await playerHelper.GetTeamDetails();
        //teamStats = await playerHelper.GetTeamStats();
    }
}
