@page "/leaderboard"
@attribute [StreamRendering]

<PageTitle>Team Statistics</PageTitle>

<h1>Team Statistics</h1>


@if (teamStats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Weeks Played</th>
                <th>Total Games Played</th>
                <th>Total Games Won</th>
                <th>Total Games Lost</th>
                <th>Total Average</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td>@teamStats.WeeksPlayed</td>
                <td>@teamStats.TotalGamesPlayed</td>
                <td>@teamStats.TotalGamesWon</td>
                <td>@teamStats.TotalGamesLost</td>
                <td>@teamStats.TotalAverage</td>
                </tr>
            
        </tbody>
    </table>
}

@code {
    private TeamStats teamStats = new();
    private PlayerHelpers playerHelper = new();


    protected override async Task OnInitializedAsync()
    {
        teamStats = await playerHelper.GetTeamStats();
    }
}
