@page "/leaderboard"
@attribute [StreamRendering]

<PageTitle>Leaderboards</PageTitle>

<h1>Leaderboards</h1>


@if (teamStats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Card>
        <CardBody>
            <CardTitle Size="3">
                Team Leaderboard
            </CardTitle>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Games Played</th>
                        <th>Games Won</th>
                        <th>Games Lost</th>
                        <th>Average</th>
                    </tr>
                </thead>
                @foreach (var teamStat in teamStats)
                {
                    <tbody>
                        <tr>
                            <td>@teamStat.TeamName</td>
                            <td>@teamStat.TotalGamesPlayed</td>
                            <td>@teamStat.TotalGamesWon</td>
                            <td>@teamStat.TotalGamesLost</td>
                            <td>@teamStat.TotalAverage%</td>
                        </tr>

                    </tbody>

                }
            </table>
        </CardBody>
    </Card>
    <br />
    <Card>
        <CardBody>
            <CardTitle Size="3">
                Player Leaderboard
            </CardTitle>
            <br />
            <br />
            <CardText>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Games Played</th>
                            <th>Games Won</th>
                            <th>Games Lost</th>
                            <th>Average</th>
                        </tr>
                    </thead>
                    @foreach (var player in playerData.OrderByDescending(x => x.Average).Where(y => y.GamesPlayed > 0))
                    {
                        <tbody>
                            <tr>
                                <td>@player.FirstName @player.LastName</td>
                                <td>@player.GamesPlayed</td>
                                <td>@player.GamesWon</td>
                                <td>@player.GamesLost</td>
                                <td>@player.Average%</td>
                            </tr>

                        </tbody>
                    }
                </table>
            </CardText>
        </CardBody>
    </Card>
}

@code {
    private APIService aPIService = new();
    private TeamHelper teamHelper = new();
    private PlayerHelpers playerHelper = new();
    private List<TeamStats> teamStats = new();
    private List<TeamDetails> teamDetails = [];
    private List<Players> playerData = [];


    protected override async Task OnInitializedAsync()
    {
        teamDetails = await playerHelper.GetTeamDetails();
        playerData = await playerHelper.ConsolidatePlayer();
        teamStats = await teamHelper.GetAllTeamStats();
    }
}
