@page "/league_admin"
@attribute [StreamRendering]

<PageTitle>Admin Panel</PageTitle>
<h1>AdminPanel</h1>
<br />
<p>Hello @Username!</p>
<p>Email: @Email</p>
<p>Roles: @Roles</p>
<!--League Admin Buttons-->
<AuthorizeView Roles="League_Admin, Super_User">
    <Card>
        <CardBody>
            <CardTitle Size="3">Admin Functions</CardTitle>
            <CardText>
                <Divider />
                <Button Color="Color.Success" Clicked="@ShowPlayerModal">Add/Edit Players</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowTeamModal">Add/Edit Teams</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowScheduleModal">Add/Edit Schedules</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowPlayerDataModal">Add/Edit Player Games</Button>
            </CardText>
        </CardBody>
    </Card>
</AuthorizeView>
<!--Super User Buttons-->
<AuthorizeView Roles="Super_User">
    <Card>
        <CardBody>
            <CardTitle Size="3">Super User Functions</CardTitle>
            <CardText>
                <Divider />
                <Button Color="Color.Success" Clicked="@ShowPlayerModal">Add/Edit Players</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowTeamModal">Add/Edit Teams</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowScheduleModal">Add/Edit Schedules</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowPlayerDataModal">Add/Edit Player Games</Button>
            </CardText>
        </CardBody>
    </Card>
</AuthorizeView>
<!--Captain Buttons-->
<AuthorizeView Roles="Captain, Super_User">
    <Card>
        <CardBody>
            <CardTitle Size="3">Captain Functions</CardTitle>
            <CardText>
                <Divider />
                <Button Color="Color.Success" Clicked="@ShowPlayerModal">Add/Edit Players</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowTeamModal">Add/Edit Teams</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowScheduleModal">Add/Edit Schedules</Button>
                &nbsp;
                <Button Color="Color.Success" Clicked="@ShowPlayerDataModal">Add/Edit Player Games</Button>
            </CardText>
        </CardBody>
    </Card>
</AuthorizeView>
<!--Player Add/Edit Modal-->
<Modal @ref="modalAddPlayer">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add/Edit Player</ModalTitle>
            <CloseButton AutoClose="true" />
        </ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsFull">
                            <Select TValue="int" SelectedValueChanged="@LoadPlayer">
                                <SelectItem>Select a Player to Edit</SelectItem>
                                @foreach (var p1 in players)
                                {
                                    <SelectItem Value="@p1.Id">@p1.FirstName @p1.LastName</SelectItem>
                                }
                            </Select>
                        </Field>
                    </Fields>
                </Field>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsHalf">
                            <FieldLabel>First Name:</FieldLabel>
                            <FieldBody><TextEdit @bind-Text="@player.FirstName" MaskType="MaskType.RegEx" EditMask="^[a-zA-Z ]*$" /></FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsHalf">Last Name:</FieldLabel>
                            <FieldBody><TextEdit @bind-Text="@player.LastName" MaskType="MaskType.RegEx" EditMask="^[a-zA-Z ]*$" /></FieldBody>
                        </Field>
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldLabel>Team:</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@player.TeamId" SelectedValueChanged="@PlayerTeamSelected">
                                    <SelectItem>Select A Team</SelectItem>
                                    @foreach (var t in teams)
                                    {
                                        <SelectItem Value="@t.Id">@t.TeamName</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldBody>
                                <Button Color="Color.Success" Clicked="@AddPlayerClicked">Add Player</Button>&nbsp;
                                <Button Color="Color.Light" Type="ButtonType.Reset">Clear</Button>
                            </FieldBody>
                        </Field>
                    </Fields>
                </Field>
            </Form>
        </ModalBody>
    </ModalContent>
</Modal>
<!--Team Edit Modal-->
<Modal @ref="modalAddTeam">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add/Edit Teams</ModalTitle>
            <CloseButton AutoClose="true" />
        </ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsFull">
                            @*<Select TValue="int" SelectedValueChanged="@LoadTeam">
                                <SelectItem Value="0">Select a Team to Edit</SelectItem>
                                @foreach (var t1 in teams)
                                {
                                    <SelectItem Value="@t1.Id">@t1.TeamName</SelectItem>
                                }
                            </Select> *@
                            <DropdownList TItem="TeamDetails" TValue="int" 
                                          Data="@teams" 
                                          TextField="@((item)=>item.TeamName)"
                                          ValueField="@((item)=>item.Id)"
                                          SelectedValueChanged="@LoadTeam">
                                Select Team to Edit
                            </DropdownList>
                        </Field>
                    </Fields>
                </Field>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsHalf">
                            <FieldLabel>Team Name:</FieldLabel>
                            <FieldBody><TextEdit @bind-Text="@addTeam.TeamName" /></FieldBody>
                        </Field>
                        <Field ColumnSize="ColumnSize.IsHalf">
                            <FieldLabel>Team Captain:</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@addTeam.Captain_Player_Id" SelectedValueChanged="@TeamCaptainSelected">
                                    <SelectItem>Select A Captain</SelectItem>
                                    @foreach (var p in players)
                                    {
                                        <SelectItem Value="@p.Id">@p.FirstName @p.LastName</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldBody>
                                <Button Color="Color.Success" Clicked="@AddTeamClicked">Add Team</Button>&nbsp;
                                <Button Color="Color.Light" Type="ButtonType.Reset">Clear</Button>
                            </FieldBody>
                        </Field>
                    </Fields>
                </Field>
            </Form>
        </ModalBody>
    </ModalContent>
</Modal>
<!--Schedule Modal-->
<Modal @ref="modalAddSchedule">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add/Edit Schedule</ModalTitle>
            <CloseButton AutoClose="true" />
        </ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsFull">
                            <FieldBody>
                                <Select TValue="int" SelectedValueChanged="@LoadSchedule">
                                    <SelectItem>Select Schedule to Edit</SelectItem>
                                    @foreach (var s in schedules)
                                    {
                                        <SelectItem Value="@s.Id">Week @s.Week_Id, Date: @s.Date, Home Team: @teams.Where(x => x.Id == s.Home_Team).FirstOrDefault().TeamName, Away Team: @teams.Where(x => x.Id == s.Away_Team).FirstOrDefault().TeamName </SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                    </Fields>
                    <Field ColumnSize="ColumnSize.IsFull">
                        <Fields>
                            <FieldLabel>Date</FieldLabel>
                            <FieldBody>
                                <DateEdit @bind-Date="@schedule.Date" />
                            </FieldBody>
                        </Fields>
                    </Field>
                    <Field>
                        <Fields>
                            <FieldLabel>Home Team</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@schedule.Home_Team">
                                    <SelectItem> Select Home Team</SelectItem>
                                    @foreach (var t3 in teams)
                                    {
                                        <SelectItem Value="@t3.Id">@t3.TeamName</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Fields>
                    </Field>
                    <Field>
                        <Fields>
                            <FieldLabel>Away Team</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@schedule.Away_Team">
                                    <SelectItem> Select Away Team</SelectItem>
                                    @foreach (var t4 in teams)
                                    {
                                        <SelectItem Value="@t4.Id">@t4.TeamName</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Fields>
                    </Field>
                    <Field>
                        <Fields>
                            <Field>
                                <FieldBody>
                                    <Button Color="Color.Success" Clicked="@AddScheduleClicked">Add Team</Button>&nbsp;
                                    <Button Color="Color.Light" Type="ButtonType.Reset">Clear</Button>
                                </FieldBody>
                            </Field>
                        </Fields>
                    </Field>
                </Field>
            </Form>
        </ModalBody>
    </ModalContent>
</Modal>
<!--PlayerData Modal-->
<Modal @ref="modalAddPlayerData">
    <ModalContent Centered Scrollable>
        <ModalHeader>
            <ModalTitle>Add/Edit Player Games</ModalTitle>
            <CloseButton AutoClose="true" />
        </ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <Field>
                        <Fields>
                            <Field ColumnSize="ColumnSize.IsFull">
                                <Select TValue="int" SelectedValue="@player.Id" SelectedValueChanged="@LoadPlayer">
                                    <SelectItem>Choose Player To Add Games To</SelectItem>
                                    @foreach (var p5 in players)
                                    {
                                        <SelectItem Value="@p5.Id">@p5.FirstName @p5.LastName</SelectItem>
                                    }
                                </Select>
                            </Field>
                        </Fields>
                    </Field>
                    <Field>
                        <Fields>
                            <Field ColumnSize="ColumnSize.IsFull">
                                <FieldLabel>Player Name:</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="@player.FirstName" Disabled />
                                    <NumericPicker @bind-Value="@player.Id" onchanged="@LoadPlayerData(player.Id)" hidden />
                                </FieldBody>
                            </Field>
                        </Fields>
                    </Field>
                    <Fields>
                        <FieldLabel>Week Number:</FieldLabel>
                        <FieldBody>
                            <NumericPicker @bind-Value="@playerData.WeekNumber" onclick="@DoesWeekExist()" />
                        </FieldBody>
                        <FieldLabel>Games Won:</FieldLabel>
                        <FieldBody>
                            <NumericPicker @bind-Value="@playerData.GamesWon" onchange="@GamesPlayedCalc()" />
                        </FieldBody>
                        <FieldLabel>Games Lost:</FieldLabel>
                        <FieldBody>
                            <NumericPicker @bind-Value="@playerData.GamesLost" onchange="@GamesPlayedCalc()" />
                        </FieldBody>
                        <FieldLabel>Games Played:</FieldLabel>
                        <FieldBody>
                            <NumericPicker Value="@total" Disabled />
                        </FieldBody>
                    </Fields>
                    <Field></Field>
                    <Fields>
                        <Field>
                            <FieldBody>
                                <Button Color="Color.Success" Clicked="@AddPlayerDataClicked">Modify Player Games</Button>&nbsp;
                                <Button Color="Color.Light" Type="ButtonType.Reset">Clear</Button>
                            </FieldBody>
                        </Field>
                    </Fields>
                </Field>
            </Form>
        </ModalBody>
    </ModalContent>
</Modal>
<!--Weeks Modal-->
<Modal @ref="modalAddWeeks">
    <ModalContent Centered Scrollable>
        <ModalHeader>
            <ModalTitle>Add/Edit Week Stats</ModalTitle>
            <CloseButton AutoClose="true" />
        </ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <Field>
                        <Fields>
                            <Field ColumnSize="ColumnSize.IsFull">
                                <Select TValue="int" SelectedValue="@player.Id" SelectedValueChanged="@LoadPlayer">
                                    <SelectItem>Choose Week To Edit</SelectItem>
                                    @foreach (var w in weeks)
                                    {
                                        <SelectItem Value="@w.WeekNumber">Week #: @w.WeekNumber</SelectItem>
                                    }
                                </Select>
                            </Field>
                        </Fields>
                    </Field>
                    <Field>
                        <Fields>
                            <Field ColumnSize="ColumnSize.IsFull">
                                <FieldLabel>Week #:</FieldLabel>
                                <FieldBody>
                                    <NumericEdit @bind-Value="@week.WeekNumber" onchanged="@LoadWeek(week.WeekNumber)" />
                                </FieldBody>
                            </Field>
                        </Fields>
                    </Field>
                    <Fields>
                        <FieldLabel>Home</FieldLabel>
                        <FieldBody>
                            <Select TValue="int" SelectedValueChanged="@UpdateHomeTeam">
                                <SelectItem Value="0">Select a Team to Edit</SelectItem>
                                @foreach (var t1 in teams)
                                {
                                    <SelectItem Value="@t1.Id">@t1.TeamName</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                        <FieldLabel>Games Won:</FieldLabel>
                        <FieldBody>
                            <NumericPicker @bind-Value="@playerData.GamesWon" onchange="@GamesPlayedCalc()" />
                        </FieldBody>
                        <FieldLabel>Games Lost:</FieldLabel>
                        <FieldBody>
                            <NumericPicker @bind-Value="@playerData.GamesLost" onchange="@GamesPlayedCalc()" />
                        </FieldBody>
                        <FieldLabel>Games Played:</FieldLabel>
                        <FieldBody>
                            <NumericPicker Value="@total" Disabled />
                        </FieldBody>
                    </Fields>
                    <Field></Field>
                    <Fields>
                        <Field>
                            <FieldBody>
                                <Button Color="Color.Success" Clicked="@AddPlayerDataClicked">Modify Player Games</Button>&nbsp;
                                <Button Color="Color.Light" Type="ButtonType.Reset">Clear</Button>
                            </FieldBody>
                        </Field>
                    </Fields>
                </Field>
            </Form>
        </ModalBody>
    </ModalContent>
</Modal>
<!--Assign Roles-->
<Modal @ref="modalAssignRoles">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Assign Roles</ModalTitle>
            <CloseButton AutoClose="true" />
        </ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsFull">
                            <Select TValue="int">
                                <SelectItem>Select a Player to Edit</SelectItem>
                                @foreach (var p1 in players)
                                {
                                    <SelectItem Value="@p1.Id">@p1.FirstName @p1.LastName</SelectItem>
                                }
                            </Select>
                        </Field>
                    </Fields>
                </Field>
                <Field>
                    <Fields>
                        <Field ColumnSize="ColumnSize.IsHalf">
                            <FieldLabel>First Name:</FieldLabel>
                            <FieldBody><TextEdit @bind-Text="@player.FirstName" MaskType="MaskType.RegEx" EditMask="^[a-zA-Z ]*$" /></FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsHalf">Last Name:</FieldLabel>
                            <FieldBody><TextEdit @bind-Text="@player.LastName" MaskType="MaskType.RegEx" EditMask="^[a-zA-Z ]*$" /></FieldBody>
                        </Field>
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldLabel>Team:</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@player.TeamId" SelectedValueChanged="@PlayerTeamSelected">
                                    <SelectItem>Select A Team</SelectItem>
                                    @foreach (var t in teams)
                                    {
                                        <SelectItem Value="@t.Id">@t.TeamName</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldBody>
                                <Button Color="Color.Success" Clicked="@AddPlayerClicked">Add Player</Button>&nbsp;
                                <Button Color="Color.Light" Type="ButtonType.Reset">Clear</Button>
                            </FieldBody>
                        </Field>
                    </Fields>
                </Field>
            </Form>
        </ModalBody>
    </ModalContent>
</Modal>
<br />
<!--Toaster-->
<Toaster>
    <Toast @bind-Visible="@toastVisible">
        <ToastHeader>
            <Strong Margin="Margin.IsAuto.FromEnd">@toastTitle</Strong>
            <CloseButton />
        </ToastHeader>
        <ToastBody>
            @toastMessage
        </ToastBody>
    </Toast>
</Toaster>


@code {
    [Inject] private IToastService ToastService { get; set; }
    private IEnumerable<TeamDetails> TeamData;

    //Modals
    private Modal modalAddPlayer = new();
    private Modal modalAddTeam = new();
    private Modal modalAddSchedule = new();
    private Modal modalAddPlayerData = new();
    private Modal modalAddWeeks = new();
    private Modal modalAssignRoles = new();

    //Properties
    private Player player { get; set; } = new();
    private PlayerData playerData { get; set; } = new();
    private TeamDetails addTeam { get; set; } = new();
    private Weeks week { get; set; } = new();
    private Schedules schedule { get; set; } = new();
    private int selectedTeam { get; set; } = new();

    //Services
    private APIService apiService = new();
    private PlayerHelpers playerHelper = new();
    private WeekHelper weekHelper = new();
    private Auth0API auth0API = new();

    //Lists
    private List<TeamDetails> teams = [];
    private List<Player> players = [];
    private List<Schedules> schedules = [];
    private List<PlayerData> pData = [];
    private List<Weeks> weeks = [];

    //Variables
    private int total;
    private bool toastVisible = false;
    private string toastMessage = "";
    private string @toastTitle = "";

    protected override async Task OnInitializedAsync()
    {

        var Users = auth0API.GetUsers();
        ClearLists();

        //Authentication
        if (authenticationState is not null)
        {
            var state = await authenticationState;

            Username = state.User.Identity.Name ?? string.Empty;
            UserId = state.User.Claims
                .Where(c => c.Type.Equals(@"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"))
                .Select(c => c.Value)
                .FirstOrDefault() ?? string.Empty;

            // Remove Auth0 prefix
            UserId = UserId.Split('|')[1];

            Email = state.User.Claims
                .Where(c => c.Type.Equals(@"https://wpl.somee.com/email"))
                .Select(c => c.Value)
                .FirstOrDefault() ?? string.Empty;

            Roles = state.User.Claims
                .Where(c => c.Type.Equals(@"https://wpl.somee.com/roles"))
                .Select(c => c.Value)
                .FirstOrDefault() ?? string.Empty;

        }
    }

    //Form Tasks
    private async Task AddPlayerClicked()
    {
        var response = await apiService.AddPlayer(player);
        if(response)
        {
            toastMessage = $"Player {player.FirstName} {player.LastName} has been added or edited.";
            toastTitle = "Add/Edit Player";
            toastVisible = true;
            ClearLists();
        }
        toastMessage = $"Failed to Add Player {player.FirstName} {player.LastName}.";
        toastTitle = "Add/Edit Player";
        toastVisible = true;
    }

    async Task AddTeamClicked()
    {
        var response = await apiService.AddTeam(addTeam);
        if (response)
        {
            toastMessage = $"Team {addTeam.TeamName} has been added or edited.";
            toastTitle = "Add/Edit Team";
            toastVisible = true;
            ClearLists();
        }
        toastMessage = $"Failed to Add Team {addTeam.TeamName}.";
        toastTitle = "Add/Edit Team";
        toastVisible = true;
    }

    async Task AddScheduleClicked()
    {
        var response = await apiService.AddSchedule(schedule);
        if(response)
        {
            toastMessage = $"Schedule {schedule.Week_Id} {schedule.Home_Team} {schedule.Away_Team} has been added or edited.";
            toastTitle = "Add/Edit Schedule";
            toastVisible = true;
            ClearLists();
        }
        toastMessage = $"Failed to Add Schedule {schedule.Week_Id} {schedule.Home_Team} {schedule.Away_Team}.";
        toastTitle = "Add/Edit Schedule";
        toastVisible = true;
        await ToastService.Info($"Schedule {addTeam.TeamName} has been added or edited.", "Add/Edit Schedule", BuildToastInstanceOptions);
    }

    async Task AddPlayerDataClicked()
    {
        playerData.GamesPlayed = total;
        playerData.PlayerId = player.Id;
        if (playerData.GamesWon != 0)
        {
            playerData.Average = Decimal.Round((decimal)playerData.GamesWon / (decimal)playerData.GamesPlayed * 100, 2);
        }
        var response = await apiService.SavePlayerData(playerData);
        if (response == true)
        {
            toastMessage = $"{player.FirstName} {player.LastName}'s Games Added/Edited.";
            toastTitle = "Add/Edit Player Games";
            toastVisible = true;
            ClearLists();
        }
        else
        {
            toastMessage = $"Failed to Add/Edit Player {player.FirstName} {player.LastName}'s Games.";
            toastTitle = "Add/Edit Player Games";
            toastVisible = true;
        }
    }

    //Select Field Tasks
    Task PlayerTeamSelected(int value)
    {
        player.TeamId = value;
        return Task.CompletedTask;
    }

    Task ScheduleSelected(DateOnly value)
    {
        schedule.Date = value;
        return Task.CompletedTask;
    }

    Task TeamCaptainSelected(int value)
    {
        addTeam.Captain_Player_Id = value;
        return Task.CompletedTask;
    }

    //Load Items
    async Task LoadPlayer(int value)
    {
        player = await apiService.GetSinglePlayer(value);

    }

    async Task LoadTeam(int value)
    {
        addTeam = await apiService.GetSingleTeam(value);
    }

    async Task LoadSchedule(int value)
    {
        schedule = await apiService.GetSingleSchedule(value);
    }

    async Task LoadPlayerData(int value)
    {
        playerData = await apiService.GetSinglePlayerData(value);
    }

    async Task LoadWeek(int value)
    {
        
    }

    async Task UpdateHomeTeam(int value)
    {
        week.Home_Team = value;
    }

    async Task UpdateAwayTeam(int value)
    {
        week.Away_Team = value;
    }

    //Modal Tasks
    Task ShowPlayerModal()
    {
        ClearLists();
        return modalAddPlayer.Show();
    }

    Task ShowTeamModal()
    {
        ClearLists();
        return modalAddTeam.Show();
    }

    Task ShowScheduleModal()
    {
        ClearLists();
        return modalAddSchedule.Show();
    }

    Task ShowPlayerDataModal()
    {
        ClearLists();
        return modalAddPlayerData.Show();
    }

    Task ShowWeeksModal()
    {
        ClearLists();
        return modalAddWeeks.Show();
    }

    //Misc Functions

    Task GamesPlayedCalc()
    {
        total = playerData.GamesWon + playerData.GamesLost;
        return Task.CompletedTask;
    }

    async Task DoesWeekExist()
    {

        if (pData.Where(x => x.WeekNumber == playerData.WeekNumber && x.PlayerId == player.Id).Count() != 0)
        {
            toastMessage = $"{player.FirstName} {player.LastName} Week Exists."; 
            toastTitle = "Week Exists";
            toastVisible = true;
            playerData = pData.Where(x => x.WeekNumber == playerData.WeekNumber && x.PlayerId == player.Id).FirstOrDefault();
        }
        else if (playerData.WeekNumber > 0 && pData.Where(x => x.WeekNumber == playerData.WeekNumber && x.PlayerId == player.Id).Count() != 0)
        {
            toastMessage = $"{player.FirstName} {player.LastName} Week Doesn't Exist, Adding.";
            toastTitle = "Week Doesn't Exist";
            toastVisible = true;
        }

    }

    //Toast Service
    private void BuildToastInstanceOptions(ToastInstanceOptions toastInstanceOptions)
    {
        toastInstanceOptions.Animated = true;
        toastInstanceOptions.AnimationDuration = 300;
        toastInstanceOptions.Autohide = true;
        toastInstanceOptions.AutohideDelay = 3000;
    }

    private async void ClearLists()
    {
        addTeam = new();
        player = new();
        playerData = new();
        schedule = new();
        week = new();

        pData.Clear();
        players.Clear();
        schedules.Clear();
        teams.Clear();

        teams = await apiService.GetTeamDetails();
        players = await apiService.GetAllPlayers();
        schedules = await apiService.GetSchedule();
        pData = await apiService.GetAllPlayerData();
        weeks = await apiService.GetAllWeeks();

    }

    //Authentication
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string Username = "Anonymous User";
    private string UserId = "";
    private string Email = "";
    private string Roles = "";
}
