@page "/player_detail/{ID:int}"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Mvc

<PageTitle>@playerInfo.FirstName @playerInfo.LastName's Details</PageTitle>

@if (playerDetail.Count == 0)
{
    <p><em>@playerInfo.FirstName @playerInfo.LastName has not played any games.</em></p>
    <p><a href="/rosters"><Icon Name="IconName.ArrowLeft" /> Back</a></p>
}
else
{
    <Card>
        <CardBody>
            <CardTitle Size="3">
                <a href="/rosters" style="font-size:small"><Icon Name="IconName.ArrowLeft" /> Back</a>  <center>@playerDetail.FirstOrDefault().FirstName @playerDetail.FirstOrDefault().LastName</center>
            </CardTitle>
            <CardText>
                <DataGrid TItem="Players"
                    Data="@playerDetail"
                    Striped="true"
                    Responsive="true">
                    <ChildContent>
                        <DataGridCommandColumn TItem="Players"></DataGridCommandColumn>
                        <DataGridColumn TItem="Players" Field="GamesWon" Caption="Games Won" />
                        <DataGridColumn TItem="Players" Field="GamesLost" Caption="Games Lost" />
                        <DataGridColumn TItem="Players" Field="GamesPlayed" Caption="Games Played" />
                        <DataGridColumn TItem="Players" Field="Average" DisplayFormat="{0:P2}" Caption="Average" />
                    </ChildContent>
                    <EmptyTemplate>
                        <div class="box">
                            No Tracked Games for @playerInfo.FirstName @playerInfo.LastName!
                        </div>
                    </EmptyTemplate>
                </DataGrid>
                @* <Table Bordered Striped Responsive>
                    <TableHeader Width="Width.Auto">
                        <TableHeaderCell><center>Games Won</center></TableHeaderCell>
                        <TableHeaderCell><center>Games Lost</center></TableHeaderCell>
                        <TableHeaderCell><center>Games Played</center></TableHeaderCell>
                        <TableHeaderCell><center>Average</center></TableHeaderCell>
                    </TableHeader>
                    <TableBody Width="Width.Auto">
                        <TableRowCell><center>@playerDetail.GamesWon</center></TableRowCell>
                        <TableRowCell><center>@playerDetail.GamesLost</center></TableRowCell>
                        <TableRowCell><center>@playerDetail.GamesPlayed</center></TableRowCell>
                        <TableRowCell><center>@playerDetail.Average</center></TableRowCell>
                    </TableBody>
                </Table> *@
            </CardText>
        </CardBody>
    </Card>
}
@code {
    [CascadingParameter]
    LoadingIndicator loadingIndicator { get; set; } = new();

    [Parameter]
    public int ID { get; set; }

    private APIService aPIService = new();
    private PlayerHelpers playerHelper = new();
    private RosterHelper rosterHelper = new();
    private PlayerData player = new();
    private Player playerInfo = new();
    private List<Players> playerDetail = new();

    protected override async Task OnInitializedAsync()
    {
        await loadingIndicator.Show();
        playerInfo = await aPIService.GetSinglePlayer(ID);
        playerDetail.Add(await playerHelper.GetPlayerDetails(ID));
        await loadingIndicator.Hide();
    }

}
