@page "/player_detail/{ID:int}"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Mvc

<PageTitle>@playerInfo.FirstName @playerInfo.LastName's Details</PageTitle>

@if (playerDetail.Id == 0)
{
    <p><em>@playerInfo.FirstName @playerInfo.LastName has not played any games.</em></p>
    <p><a href="/rosters"><Icon Name="IconName.ArrowLeft" /> Back</a></p>
}
else
{
    <Card>
        <CardBody>
            <CardTitle Size="3">
               <a href="/rosters" style="font-size:small"><Icon Name="IconName.ArrowLeft" /> Back</a>  <center>@playerDetail.FirstName @playerDetail.LastName</center>
            </CardTitle>
            <CardText>
                <Table Bordered Striped Responsive>
                    <TableHeader Width="Width.Auto">
                        <TableHeaderCell><center>Games Won</center></TableHeaderCell>
                        <TableHeaderCell><center>Games Lost</center></TableHeaderCell>
                        <TableHeaderCell><center>Games Played</center></TableHeaderCell>
                        <TableHeaderCell><center>Average</center></TableHeaderCell>
                    </TableHeader>
                    <TableBody Width="Width.Auto">
                        <TableRowCell><center>@playerDetail.GamesWon</center></TableRowCell>
                        <TableRowCell><center>@playerDetail.GamesLost</center></TableRowCell>
                        <TableRowCell><center>@playerDetail.GamesPlayed</center></TableRowCell>
                        <TableRowCell><center>@playerDetail.Average%</center></TableRowCell>
                    </TableBody>
                </Table>
            </CardText>
        </CardBody>
    </Card>
}
@code {
    [CascadingParameter]
    LoadingIndicator? loadingIndicator { get; set; }

    [Parameter]
    public int ID { get; set; }

    private APIService aPIService = new();
    private PlayerHelpers playerHelper = new();
    private RosterHelper rosterHelper = new();
    private PlayerData player = new();
    private Player playerInfo = new();
    private Players playerDetail = new();

    protected override async Task OnInitializedAsync()
    {
        await loadingIndicator.Show();
        playerInfo = await aPIService.GetSinglePlayer(ID);
        playerDetail = await playerHelper.GetPlayerDetails(ID);
        await loadingIndicator.Hide();
    }

}
