@page "/week_stats"
@attribute [StreamRendering]


<PageTitle>Weekly Breakdown</PageTitle>

<h1>Weekly Breakdown</h1>

@if (weekFullInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Week Number</th>
                <th>Date Played</th>
                <th>Team Played</th>
                <th>Games Won</th>
                <th>Games Lost</th>
                <th>Average</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var week in weekFullInfo)
            {
                <tr>
                    <td>@week.WeekNumber</td>
                    <td>@week.DatePlayed</td>
                    <td>@week.TeamName</td>
                    <td>@week.GamesWon</td>
                    <td>@week.GamesLost</td>
                    <td>@week.Average</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeekHelper weekHelper = new();
    private List<WeekFullInfo> weekFullInfo = [];
    protected override async Task OnInitializedAsync()
    {
        weekFullInfo = await weekHelper.GetFullWeek();
    }


}
